:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
  }

* {
        font-family: 'Poppins', sans-serif;
       }

body {
        margin: 0;
        font-family: 'Quicksand', sans-serif;
        background-color: #111827;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .social-icons {
        display: flex;
        justify-content: center;
        list-style: none;
    }

    .social-icons li {
        margin: 0 10px;
    }

    .social-icons li a {
        font-size: 30px;
        height: 70px;
        width: 70px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: white;
        position: relative;
        transition: 0.5s ease;
    }

    .social-icons li a:hover {
        background-image: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
        background-clip: text;
        color: transparent;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        font-size: 40px;
    }

    .social-icons li a::before {
        content: '';
        position: absolute;
        z-index: -1;
        height: 70px;
        width: 70px;
        border-radius: 50%;
        background: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
        transform: scale(1);
        transition: 0.5s ease-in-out;
    }

    .social-icons li a:hover::before {
        transform: scale(0);
    }
